## SQL And SQLite

SQL (Strucutred Query Language) is a standard language for managing and manipulating relational databases. SQLLite is a self-contained and zero-configuration database engine that is widely used for embedded database systems.

In [4]:
import sqlite3

In [5]:
## Connect to an SQLLite database
connection=sqlite3.connect('example.db')
connection

In [6]:
cursor=connection.cursor()

In [23]:
cursor.execute('''Drop Table employees''')
connection.commit()

In [24]:
## Create a table


cursor.execute('''
Create Table If Not Exists employees(id Integer 
                Primary key,
                name Text Not Null,
                age Integer,
                department text)''')

## commit the changes
connection.commit()

In [25]:
cursor.execute('''
            Select * from employees''')

In [26]:
## Insert the data in sqlite table

cursor.execute('''
               Insert into employees(name,age,department)
               values('Anup',21,'Data Scientist')''')

cursor.execute('''
               Insert into employees(name,age,department)
               values('Bob',22,'Devops Engineer')''')

cursor.execute('''
               Insert into employees(name,age,department)
               values('Hari',23,'Full Stack Engineer')''')


connection.commit()

In [30]:

cursor.execute('''Select * from employees''')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Anup', 21, 'Data Scientist')
(2, 'Bob', 22, 'Devops Engineer')
(3, 'Hari', 23, 'Full Stack Engineer')

In [32]:
## update the data into the table

cursor.execute('''
               Update employees Set age=34 where name='Bob' ''')

connection.commit()

In [33]:
cursor.execute('''Select * from employees''')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Anup', 21, 'Data Scientist')
(2, 'Bob', 34, 'Devops Engineer')
(3, 'Hari', 23, 'Full Stack Engineer')

In [34]:
## Delete the data from the table 
cursor.execute('''
               Delete from employees where name='Bob' ''')

connection.commit()

In [35]:

cursor.execute('''Select * from employees''')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Anup', 21, 'Data Scientist')
(3, 'Hari', 23, 'Full Stack Engineer')

In [37]:
##  Working with sales data

connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

cursor.execute('''
Create Table If Not Exists sales
            (id Integer Primary Key,
            date TEXT NOT NULL,
            product TEXT NOT NULL,
            sales INTEGER,
            region TEXT)''')


sales_data=[
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-02-02','Product3',2200,'North'),
    ('2023-04-02','Product4',2010,'West')
]

cursor.executemany('''
                   Insert into sales(date,product,sales,region)
                   values(?,?,?,?)''',sales_data)

In [38]:

cursor.execute('''Select * from sales''')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-02-02', 'Product3', 2200, 'North')
(4, '2023-04-02', 'Product4', 2010, 'West')

In [ ]:
connection.close()

In [42]:
cursor.execute('''Select * from sales''')

ProgrammingError: Cannot operate on a closed database.